<?xml version="1.0"?>
<config>
  <modules>
    <BitpayCheckout_BPCheckout>
      <version>3.1.6</version>
    </BitpayCheckout_BPCheckout>
  </modules>
 
  <global>
    <fieldsets>
      <sales_convert_quote_payment>
        <bitpay_transactionid>
          <to_order_payment>*</to_order_payment>
        </bitpay_transactionid> 
      </sales_convert_quote_payment>
    </fieldsets>
     
    <helpers>
      <bpcheckout>
        <class>BitpayCheckout_BPCheckout_Helper</class>
      </bpcheckout>
    </helpers>
 
    <blocks>
      <bpcheckout>
        <class>BitpayCheckout_BPCheckout_Block</class>
      </bpcheckout>
    </blocks>
         
    <models>
      <bpcheckout>
        <class>BitpayCheckout_BPCheckout_Model</class>
      </bpcheckout>
    </models>
 
    <resources>
      <bpcheckout_setup>
        <setup>
          <module>BitpayCheckout_BPCheckout</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </bpcheckout_setup>
      <bpcheckout_write>
        <connection>
          <use>core_write</use>
        </connection>
      </bpcheckout_write>
      <bpcheckout_read>
        <connection>
          <use>core_read</use>
        </connection>
      </bpcheckout_read>
    </resources>
  
    
  </global>
  
  <default>
    <payment>
      <bitpaycheckout>
        <active>1</active>
        <model>bpcheckout/paymentmethod</model>
        <order_status>processing</order_status>
        <title>BitPay</title>
        <allowspecific>1</allowspecific>
        <payment_action>sale</payment_action>
      </bitpaycheckout>
    </payment>
  </default>
  
   
  <frontend>
    <routers>
      <bpcheckout>
        <use>standard</use>
        <args>
          <module>BitpayCheckout_BPCheckout</module>
          <frontName>bpcheckout</frontName>
        </args>
      </bpcheckout>
      
    </routers>
    <routers>
    <cartfix>
          <use>standard</use>
          <args>
              <module>BitpayCheckout_BPCheckout</module>
              <frontName>cartfix</frontName>
          </args>
      </cartfix>
    </routers>
    <routers>
    <showmodal>
          <use>standard</use>
          <args>
              <module>BitpayCheckout_BPCheckout</module>
              <frontName>showmodal</frontName>
          </args>
        </showmodal>
    </routers>
    <routers>
    <bitpayipn>
          <use>standard</use>
          <args>
              <module>BitpayCheckout_BPCheckout</module>
              <frontName>bitpayipn</frontName>
          </args>
    </bitpayipn>
    <bitpaypaymentredirect>
          <use>standard</use>
          <args>
              <module>BitpayCheckout_BPCheckout</module>
              <frontName>bitpaypaymentredirect</frontName>
          </args>
    </bitpaypaymentredirect>
    </routers>
  </frontend>
</config>
