<?xml version="1.0"?>
<config>    
  <sections>
    <payment>
      <groups>
        <bitpaycheckout translate="label" module="bpcheckout">
        <comment><![CDATA[Expand your payment options by accepting instant BTC and BCH payments without risk or price fluctuations.<br><br>You should not ship any products until BitPay has finalized your transaction.<br>The order will stay in a <b>Hold</b> and/or <b>Processing</b> state, and will automatically change to <b>Completed</b> after the payment has been confirmed.<br><br>If you have not created a BitPay Merchant Token, you can create one at BitPay.com<br><a href = "https://test.bitpay.com/dashboard/merchant/api-tokens" target = "_blank">(Test)</a>  or <a href= "https://www.bitpay.com/dashboard/merchant/api-tokens" target = "_blank">(Production)</a> </p>]]></comment>
                
          <label>BitPay Checkout</label>
          <sort_order>1000</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>0</show_in_store>
          <fields>
         
          <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>0</sort_order>
            </active>
            
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>1</sort_order>
            </title>

            <bitpay_devtoken translate="label">
              <label>Developer Token</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>1</sort_order>
              <comment><![CDATA[Your <b>development</b> merchant token.  <a href = "https://test.bitpay.com/dashboard/merchant/api-tokens" target = "_blank">Create one here</a> and <b>uncheck</b> `Require Authentication`.]]></comment>
            </bitpay_devtoken>

            <bitpay_prodtoken translate="label">
              <label>Production Token</label>
              <frontend_type>text</frontend_type>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>1</sort_order>
              <comment><![CDATA[Your <b>production</b> merchant token.  <a href = "https://www.bitpay.com/dashboard/merchant/api-tokens" target = "_blank">Create one here</a> and <b>uncheck</b> `Require Authentication`.]]></comment>
            </bitpay_prodtoken>

            <bitpay_endpoint translate="label">
              <label>Environment</label>
              <frontend_type>select</frontend_type>
              <source_model>BitpayCheckout_BPCheckout_Env</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
              <comment><![CDATA[Select <b>Test</b> for testing the plugin, <b>Production</b> when you are ready to go live.]]></comment>
            </bitpay_endpoint>

            <bitpay_currency translate="label">
              <label>Accepted Cryptocurrencies</label>
              <frontend_type>select</frontend_type>
              <source_model>BitpayCheckout_BPCheckout_Crypto</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
               <comment><![CDATA[Bitcoin (BTC), Bitcoin Cash (BCH), or All.]]></comment>
            </bitpay_currency>

            <bitpay_ux translate="label">
              <label>Checkout Flow</label>
              <frontend_type>select</frontend_type>
              <source_model>BitpayCheckout_BPCheckout_Ux</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
               <comment><![CDATA[If this is set to <b>Redirect</b>, then the customer will be redirected to <b>BitPay</b> to checkout, and return to the checkout page once the payment is made.<br><br>If this is set to <b>Popup Modal</b>, the user will stay on your e-commerce site and complete the transaction.]]></comment>
            </bitpay_ux>
        
            <bitpay_capture_email translate="label">
              <label>Auto-Capture Email</label>
              <frontend_type>select</frontend_type>
              <source_model>BitpayCheckout_BPCheckout_Capture</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
              <comment><![CDATA[Should BitPay Checkout try to auto-add the client\'s email address?<br>If <b>Yes</b>, the client will not be able to change the email address on the BitPay Checkout invoice.<br>If <b>No</b>, they will be able to add their own email address when paying the invoice.]]></comment>
            </bitpay_capture_email>
           
            <!--
            <bitpay_message translate="label">
              <label>Checkout Message</label>
              <frontend_type>textarea</frontend_type>
              <source_model>BitpayCheckout_BPCheckout_Ux</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
               <comment><![CDATA[Insert your custom message for the <b>Order Received</b> page, so the customer knows that the order will not be completed until BitPay releases the funds.]]></comment>
            </bitpay_message>
            -->
            
            <order_status translate="label">
              <label>New order status</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_order_status</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <sort_order>3</sort_order>
            </order_status>
            <allowspecific translate="label">
              <label>Payment from applicable countries</label>
              <frontend_type>allowspecific</frontend_type>
              <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>4</sort_order>
            </allowspecific>
            <specificcountry translate="label">
              <label>Payment from Specific countries</label>
              <frontend_type>multiselect</frontend_type>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>5</sort_order>
            </specificcountry>
          </fields>
        </bitpaycheckout>
      </groups>
    </payment>
  </sections>
</config>
