<?xml version="1.0"?>
<!--
/**
* @license Copyright 2011-2018 BitPay Inc., MIT License
* @see https://github.com/bitpay/magento-plugin/blob/master/LICENSE
*/
-->
<config>
	<modules>
		<Bitpay_Core>
			<version>2.1.20</version>
		</Bitpay_Core>
	</modules>
	<frontend>
		<routers>
			<bitpay>
				<use>standard</use>
				<args>
					<module>Bitpay_Core</module>
					<frontName>bitpay</frontName>
				</args>
			</bitpay>
		</routers>
		<layout>
			<updates>
				<bitpay>
					<file>bitpay.xml</file>
				</bitpay>
			</updates>
		</layout>
		<translate>
			<modules>
				<bitpay>
					<files>
						<default>Bitpay_Core.csv</default>
					</files>
				</bitpay>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<bitpay before="Mage_Adminhtml">Bitpay_Core_Adminhtml</bitpay>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<global>
		<blocks>
			<bitpay>
				<class>Bitpay_Core_Block</class>
			</bitpay>
		</blocks>
		<helpers>
			<bitpay>
				<class>Bitpay_Core_Helper</class>
			</bitpay>
		</helpers>
		<models>
			<bitpay>
				<class>Bitpay_Core_Model</class>
				<resourceModel>bitpay_mysql4</resourceModel>

			</bitpay>
			<bitpay_mysql4>
				<class>Bitpay_Core_Model_Mysql4</class>
				<entities>
					<invoice>
						<table>bitpay_invoices</table>
					</invoice>
					<ipn>
						<table>bitpay_ipns</table>
					</ipn>
				</entities>
			</bitpay_mysql4>
			<sales>
	    		<rewrite>
		          <order_payment>Bitpay_Core_Model_Order_Payment</order_payment>
		        </rewrite>
		    </sales>    
		</models>
		<events>
			<sales_order_place_before>
				<observers>
					<auto_invoice_order>
						<type>singleton</type>
						<class>Bitpay_Core_Model_Observer</class>
						<method>implementOrderStatus</method>
					</auto_invoice_order>
				</observers>
			</sales_order_place_before>
                        <checkout_onepage_controller_success_action>  
                                <observers>
                                        <bitpay_checkout_onepage_success_observer>
                                                <type>singleton</type>
                                                <class>bitpay_core_model_observer</class>
                                                <method>redirectToCartIfExpired</method>
                                        </bitpay_checkout_onepage_success_observer>
                                </observers>
                        </checkout_onepage_controller_success_action>
		</events>
		<resources>
			<bitpay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</bitpay_write>
			<bitpay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</bitpay_read>
			<bitpay_setup>
				<setup>
					<module>Bitpay_Core</module>
					<class>Bitpay_Core_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</bitpay_setup>
		</resources>
	</global>
	<default>
		<payment>
			<bitpay>
				<model>bitpay/method_bitcoin</model>
				<order_status>new</order_status>
				<payment_action>authorize</payment_action>
				<active>0</active>
				<title>Bitcoin and Bitcoin Cash</title>
                <api_key>test</api_key>
				<network>livenet</network>
				<order_confirmation>1</order_confirmation>
				<debug>0</debug>
				<notification_url>bitpay/ipn</notification_url>
				<redirect_url>checkout/onepage/success</redirect_url>
                <failure_url>checkout/cart</failure_url>
				<speed>medium</speed>
				<fullscreen>0</fullscreen>
				<invoice_new>new</invoice_new>
				<invoice_paid>pending</invoice_paid>
				<invoice_confirmed>processing</invoice_confirmed>
				<invoice_complete>processing</invoice_complete>
				<invoice_expired>canceled</invoice_expired>
				<invoice_invalid>pending</invoice_invalid>
			</bitpay>
		</payment>
	</default>
</config>
